<app-table-dark [headers]="headers">
  <tr *ngFor="let c of collectionClients">
    <td>{{ c.id }}</td>
    <td>{{ c.name }}</td>
    <td>{{ c.ca }}</td>
    <td>{{ c.comment }}</td>
    <td>{{ c.tva }}</td>
    <td>{{ c.total() | currency: 'EUR' }}</td>
    <td [appColorState] = "c.state">
      <select (change)="changeState(c, $event)">
        <option *ngFor="let s of statesClient" [value]="s" [selected]="s === c.state">{{ s }}</option>
      </select>
    </td>
  </tr>
</app-table-dark>

<app-btn [label]="btn.label" [route]="btn.route"></app-btn>
<app-btn [label]="btn2.label" [action]="btn2.action" (clicked)="filter()"></app-btn>
