@import 'themes';

.state-cancel {
  background: $color-error;
}
.state-option {
  background: $color3;
}
.state-confirmed {
  background: $color-success;
}

.day {
  color: $color-success
}
.days {
  color: $color-error
}
